.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
  background-color: $color-background-body;
  @include media-tablet {

  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 100px;

}
