.button-burger {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: $color-background-body;
  border: 1px solid $color-border-dark;



  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

  }

}

.button-burger__line {
  display: block;
  width: 16px;
  height: 1.2px;
  background-color: $color-text-dark;
  transition: all 300ms ease-in-out;

}

.button-burger--active .button-burger__line:nth-child(1) {
  transform: translateY(4.5px) rotate(45deg);

}

.button-burger--active .button-burger__line:nth-child(2) {
  transform: translateY(-4.5px) rotate(-45deg);

}

@include media-tablet {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: fixed;
    right: -200%;
    top: 65px;
    padding:60px 0 60px 0;
    background-color: $color-background-body;
    width: 100%;
    height: 100%;
    transition: 700ms;
    z-index: 9999;

    &__item {
      @include font-h($size: 3.2rem, $line-height: 125%);
      margin:0;
      padding:0;
    }

    .menu-link__item {
      margin-top: 40px;
      @include font-h($size: 3.2rem, $line-height: 125%);

      img {
        width: 40px;
        height: 40px;

      }
    }

  }


  .burger--active {
    right:0;
  }

}

