

.button-primary {
  @extend %button;
  padding: 20px 78px;
  background-color: $color-background-body;

  &__icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 10px;
    background-image: url("../img/icons/coffee-cup.svg");
    background-repeat: no-repeat;
    opacity: 0;
    @extend %transition;

  }

  &:hover {
    .button-primary__icon {
      opacity: 1;
    }

  }

}

//.button-secondary {
//  @extend %transition;
//  @extend %button;
//  padding: 10px 78px;
//  border: 1px solid $color-border-dark;
//
//  &:hover {
//    background-color: $color-background-container;
//    color: $color-text-light;
//  }
//}
//
//
//.button-app {
//  @extend %transition;
//  @extend %button;
//  padding: 12px 20px;
//  border: 1px solid $color-border-dark;
//
//  &:hover {
//    background-color: $color-background-container;
//    color: $color-text-light;
//  }
//
//  &__content {
//    display: flex;
//    flex-direction: column;
//
//  }
//}
