.button-primary {
  @extend %button;
  padding: 20px 78px;
  background-color: $color-background-body;

  &__icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 10px;
    background-image: url("../img/icons/coffee-cup.svg");
    background-repeat: no-repeat;
    opacity: 0;
    @extend %transition;

  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .button-primary__icon {
        opacity: 1;
      }

    }
  }


}

.button-secondary {
  @extend %button;
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  background-color: $color-background-body;
  border: 1px solid $color-border-dark;
  @extend %transition;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: $color-background-container;
      color: $color-text-light;
    }
  }
}

.button-icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  background-color: inherit;
  @extend %transition;

  &--dark {
    border: 1px solid $color-border-dark;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $color-background-container;
        .icon path {
          stroke: $color-border-light;
        }
      }
    }

  }

  &--light {
    border: 1px solid $color-border-light;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $color-background-body;
        .icon path {
          stroke: #403F3D;
        }
      }
    }

  }

}






.button-app {
  @extend %transition;
  @extend %button;
  padding: 12px 20px;
  border: 1px solid $color-border-dark;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-background-container;

      .text {
        color: $color-text-light;
      }
      .apple-path {
        fill:  #EA4335;
      }

    }
  }


}

.tab-item {
  display: inline-flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid $color-border-light;
  background-color: inherit;
  color: $color-text-dark;
  @extend  %transition;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
  &--active {
    background-color: $color-background-container;
    color: $color-text-light;
    cursor: default;

  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-background-container;
      color: $color-text-light;

    }
  }


  &__icon {
    width: 30px;
    height: 30px;

  }
}





