.enjoy {
  display: flex;
  padding: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 40px;

  &__bg-video {
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;


  }

  @include media-tablet {
    padding: 100px 60px;

  }

  @include media-phone {
    padding: 60px 16px;

  }

  @include media-laptop {

  }

  h1, p {
    color: $color-text-light;
    margin: 0;
  }
}
.enjoy-content {
  @extend %offer;
  width: 530px;
  z-index: 10;

}

