.image-gallery {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: nowrap;

  @include media-laptop {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media-phone {
    flex-direction: column;
  }

  @include media-tablet {
    flex-direction: column;
  }

}

.image-gallery__item {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

.gallery-col {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-tablet {
    .image-small {
      display: none;
    }
  }

}


.image-small {
  max-width: 660px;
  max-height: 430px;

  @include media-tablet {
    max-width: 688px;
  }

  @include media-phone {
    max-width: 348px;
  }
}

.image-large {
  max-width: 660px;
  height: 590px;

  @include media-tablet {
    max-width: 688px;
  }

  @include media-phone {
    width: 348px;
  }
}

.image-gallery__item img {
  height:auto;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 700ms ease-in-out;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.0);
    }
  }

}



