.nav {
  display: flex;
  gap: 40px;
  cursor: pointer;
  padding: 0;

  &__item {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding-bottom: 4px;
    @include item-underline($color:$color-border-dark);
    @include font-h($weight:600, $line-height:150%);
  }

}

.menu-link {
  @include font-h($weight:600, $line-height:150%);

  &--disabled {
    user-select: none;

  }

  &--active {
    cursor: pointer;
    @include item-underline($color:$color-border-dark);
  }

  &__item {
    display: flex;
    gap:8px;
    padding-bottom: 4px;
  }


}

.logo {
  &__image {
    width: 100px;
    height: 60px;
  }
}
