.nav {
  display: flex;
  gap: 40px;
  cursor: pointer;
  padding: 0;

  @include media-tablet {
    display: none;
  }

  &__item {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding-bottom: 4px;
    @include item-underline($color:$color-border-dark);
    @include font-h($weight:600, $line-height:150%);
  }

}

.menu-link {
  @include font-h($weight:600, $line-height:150%);

  @include media-tablet {
    display: none;
  }

  &--disabled {
    user-select: none;

  }

  &--active {
    cursor: pointer;
    @include item-underline($color:$color-border-dark);
  }

  &__item {
    display: flex;
    gap:8px;
    padding-bottom: 4px;
  }


}

.logo {
  &__image {
    width: 100px;
    height: 60px;
  }
}

%button-close-line {
  display: inline-block;
  position: absolute;
  content: "";
  width: 16px;
  height: 1.5px;
  background-color: $color-text-dark;
  transition: transform 0.3s ease;

}

.button-burger {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid $color-border-dark;


  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}

.button-close {
  width: 16px;
  height: 16px;
  position: relative;

  &:before {
    @extend %button-close-line;
    top: 0;
    left: 0;


  }

  &:after {
    @extend %button-close-line;
    top: 0;
    left: 0;
  }

}

.button-close__line {
  @extend %button-close-line;
  top: calc(50% + 3px);
  left: 0;
}


