.favourites-coffee {
  @include flex-column ($gap:40px);

  @include media-tablet {
   text-align: center;
  }
}

.slider-items__content {
  @include flex-column($gap:20px);

}

.slider-image {
  max-width: 480px;
  max-height: 480px;

  @include media-phone {
    max-width: 348px;
    max-height: 348px;
  }
}

.slider-description {
  @include flex-column ($gap:16px);
  max-width: 480px;
  text-align: center;

  @include media-phone {
    width: 100%;
  }

}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  align-self: stretch;

  @media (max-width: 760px) {
    justify-content: center;

  }

  & button {
    @include media-phone {
      display: none;
    }

    @media (max-width: 760px) {
      display: none;

    }



  }
}

.slider-control {
  display: flex;
  gap: 12px;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;



  &__item {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: $color-border-light;
    cursor: pointer;
    @extend %transition;

    &--active {
      background: $color-border-dark;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $color-border-dark;
      }
    }

  }

}
